{% extends 'app1/base.html' %} {% block content %}

<div class="container">
  <!--Forms -->
  <div class="row">
    <div class="col col-8 offset-2">
      <h2 class="alert alert-danger text-center">Product Dashboard Registration</h2>
      <form method="post" id="this_form">
        {% csrf_token %} 
        {{form.as_p}}
      </form>
      <input type="submit" form="this_form" value="SUBMIT" class="btn btn-primary" />
    </div>
  </div>

  <!--Display Data-->
  <br /><br /><br />
  <h2 class="alert alert-dark text-center">Product Details</h2>
  <table class="table my-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">SrNo</th>
        <th scope="col">Name</th>
        <th scope="col">Discription</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.discription}}</td>
        <td>{{i.price}}</td>
        <td>
          
          <!-- update icon -->
          <a href="{% url 'update' i.id %}">
            <i class="fa-regular fa-pen-to-square"></i>
          </a>
          
          <!-- delete icon -->
          <form action="{% url 'delete' i.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}